#backtotranslate{
    background-color: var(--b-teal);
    border: 1px solid rgb(97,97,97);
    color: rgb(97, 97, 97);
}
#backtotranslate:hover{
    background-color: #0b5ed7;
    border: 1px solid#0a58ca;
    color: white;
}