#header {
        text-align: center;
        background-color: #62929E;
        border-radius: 1px 1px 10px 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#titlecontainer {
        height: 50px;
        background-color: #1d3557;
        border-radius: 1px 1px 20px 20px;
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}