.formcontainer{
display: flex;
flex-direction: column;
}
#form{
align-self: center;
min-width: 300px;
max-width: 500px;
}
#username{
    background-color: var(--b-teal);
    border: 1px solid rgb(97, 97, 97);
    color: rgb(97, 97, 97);
    align-self: center;
}
#username:focus{
    border: 2px solid #0a58ca;
    outline: none;
    box-shadow: none;
}
#loginbutton{
    background-color: var(--b-teal);
    border: 1px solid rgb(97,97,97);
    color: rgb(97, 97, 97);
    max-width:200px;
    align-self: center;
}
#loginbutton:hover{
    background-color: #0b5ed7;
    border: 1px solid#0a58ca;
    color: white;
}