body{
    background-color: #e9c46a;
}
.imagescontainer{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.robotImage{
    align-self: center;
    z-index: 1;
    width:auto;
    height:200px;
    margin-left:88px;
}
.cloudImage{
    position: absolute;
    align-self: center;  
    width:auto;
    height:200px;  
}
