body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'sans-serif' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-family: 'Exo', sans-serif
}
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap');