form{
    display: flex;
    flex-direction: column;  
}
#rawText {
    background-color: var(--b-teal);
    border: 1px solid rgb(97,97,97);
    color: rgb(97,97,97);
}
#rawText:focus{
    border: 2px solid #0a58ca;
    box-shadow:none;
}
#translatebutton{
    align-self: center;
    max-width:200px;
    background-color: var(--b-teal);
    border: 1px solid rgb(97,97,97);
    color: rgb(97,97,97);
}
#translatebutton:hover{
    background-color: #0b5ed7;
    border-color: #0a58ca;
    color:white;
}
